section.section--secondary
	.container-fluid.container-fluid--fullwidth
		.row.row--no-gutter.row--hero
			.col-xs-12.col-sm-12.col-md-6.col-lg-5.col-same-height
				.content
					h1 Consultanta si proiectare 
					blockquote
						| CELE MAI BUNE IDEI SE NASC DIN PASIUNE
						br
						| Malcom Forbes/Forbes
						span.circleQuote "
					p De la industria navală la cea a confecţiilor metalice, de la domeniul construcţiilor civile şi industriale la sectorul auto şi al construcţiilor de maşini, toate pot beneficia de experienţa MINEX, de consultanţă şi asistenţă înalt calificate, pentru alegerea celor mai potrivite soluţii de tratare a suprafeţelor.
			.col-xs-12.col-sm-12.col-md-6.col-lg-7.col-same-height
				.focuspoint.focuspoint--round-right(data-focus-x="0.5" data-focus-y="-0.3" data-image-w="1285" data-image-h="1090")
					img(src="img/image02.jpg" alt="")
	.container-fluid
		.row
			.container
				.col-xs-12
					.row.row--content
						.col-sm-12.col-md-4
							p
								| Privim procesele în perspectivă. Propunem exclusiv formule care au în vedere reducerea costurilor de producţie în contextul creşterii performanţei şi a gradului de flexibilitate necesar adaptării la situaţiile curente de piaţă.
								br
								hr
							p 
								| Minex este mai mult decât un furnizor de echipamente. Indiferent dacă este vorba despre sablare, vopsire sau metalizare, gândim proiecte personalizate, care integrează cele mai performante echipamente necesare implementării lor.
						.col-sm-12.col-md-8
							.row
								.col-xs-12.col-md-6
									p
										| De la planificare la montaj şi service, Minex e partnerul tău de încredere.
										br
										| Cu o reputaţie excelentă, câştigată în peste 15 ani de activitate pe piaţa românească şi peste 500 de proiecte realizate în ţară şi străinătate, am construit colaborări pe termen lung cu o diversitate de industrii (în mod special cu cea navală, a confecţiilor metalice şi a construcţiilor civile şi industriale).
								.col-xs-12.col-md-6
									p
										| Sistemele integrate dezvoltate de Minex România au în vedere toate funcţiile modelelor de business pe care le urmează clienţii noştri. De aceea excelenţa proprie derivă în depăşirea aşteptărilor cu privire la servicii şi produse. Investim în continuare în dezvoltarea personală şi în crearea de noi idei esenţiale, ca să putem propune permanent soluţii din ce în ce mai adaptabile unor nevoi din ce în ce mai variate şi mai particulare. Suntem întotdeauna deschişi la noi provocări.
								.col-xs-12.text-center
									img.img-responsive(src="img/image01_small.jpg" alt="")