
<section id="contact" class="section--secondary contact">
  <div class="container-fluid container-fluid--fullwidth">
    <div class="row">
      <div class="col-xs-12 col-sm-6 colSHc">
        <form>
          <div class="content container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h2>FORMULAR CONTACT</h2>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <input type="text" placeholder="nume" class="form-control"/>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <input type="text" placeholder="prenume" class="form-control"/>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <input type="text" placeholder="email" class="form-control"/>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <input type="text" placeholder="functie" class="form-control"/>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group">
                  <input type="text" placeholder="domeniu de activitate" class="form-control"/>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group">
                  <textarea rows="3" class="form-control"></textarea>
                </div>
              </div>
              <div class="col-xs-12">
                <button type="submit" class="btn btn-primary">Trimite</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-12 col-sm-6 colSHi">
        <!-- introdu aici mapa-->
      </div>
      <div class="col-xs-12">
        <h3 class="text-center">B-dul Metalurgiei 85, 041832 - Bucuresti 4, Tel.: +40 21 306 02 81, Fax: +40 21 306 02 84, web: www.minex.ro, e-mail: minex@minex.ro</h3>
      </div>
    </div>
  </div>
</section>