section#contact
	.container-fluid.container-fluid--fullwidth.contact
		.row
			.col-xs-12.col-sm-12.col-md-6.col-lg-5.col-same-height
				form
					.content.container-fluid
						.row
							.col-xs-12
								h2 FORMULAR CONTACT
							.col-xs-12.col-sm-6
								.form-group
									input(type="text" class="form-control" placeholder="nume")
							.col-xs-12.col-sm-6
								.form-group
									input(type="text" class="form-control" placeholder="prenume")
							.col-xs-12.col-sm-6
								.form-group
									input(type="text" class="form-control" placeholder="email")
							.col-xs-12.col-sm-6
								.form-group
									input(type="text" class="form-control" placeholder="functie")
							.col-xs-12
								.form-group
									input(type="text" class="form-control" placeholder="domeniu de activitate")
							.col-xs-12
								.form-group
									textarea.form-control(rows="3")
							.col-xs-12
								button(type="submit" class="btn btn-primary") Trimite
			.col-xs-12.col-sm-12.col-md-6.col-lg-7.col-same-height
				// introdu aici mapa
				h2 Introdu mapa
		.row
			.col-xs-12
				h3.text-center B-dul Metalurgiei 85, 041832 - Bucuresti 4, Tel.: +40 21 306 02 81, Fax: +40 21 306 02 84, web: www.minex.ro, e-mail: minex@minex.ro