section#footer
	.container-fluid.container-fluid--fullwidth
		.container
			.row
				.col-xs-4
					a(href="#")
						img(src="img/logo.png")
				.col-xs-8
					p.text-right &copy; Copyright 1995 - 2012. Minex, Romania. Toate drepturile rezervate.