section.news
	.container
		.row
			.col-xs-12
				h5: strong Alte noutati
		hr
		.row
			.col-xs-12.col-md-4
				img.img-responsive(img src="http://placekitten.com/900/400" alt="")
				.copy
					h4 Sample title text
					p
						| Aspiratorul compact BDC-1216, poate fi folosit impreuna cu echipamentele manuale si cu masinile pentru sablat, slefuit si scarificat, de dimensiuni mici.
				hr.visible-xs-block

			.col-xs-6.col-md-4
				img.img-responsive(img src="http://placekitten.com/600/500" alt="")
			
			.col-xs-6.col-md-4
				img.img-responsive(img src="http://placekitten.com/g/600/500" alt="")
		.row
			.col-xs-12.col-md-8
				img.img-responsive(img src="http://placekitten.com/g/1000/550" alt="")
			.col-xs-12.col-md-4
				hr.visible-xs-block
				img.img-responsive(img src="http://placekitten.com/g/900/400" alt="")
				.copy
					h4 Sample title text
					p
						| Aspiratorul compact BDC-1216, poate fi folosit impreuna cu echipamentele manuale si cu masinile pentru sablat, slefuit si scarificat, de dimensiuni mici.
						br
						| Este echipat cu un recipient pentru praf cu capacitate de 40L, pentru ca activitatea sa se poata desfasura fara intrerupere, pe o perioada de timp indelungata
		hr
		.row
			.col-xs-12
				nav.text-center
					ul.pagination.pagination-lg
						li.disable: a(href="#" aria-label="Previous")
							span(aria-hidden="true") &laquo;
						li.active: a(href="#") 1
						li: a(href="#") 2
						li: a(href="#") 3
						li: a(href="#" aria-label="Next")
							span(aria-hidden="true") &raquo;