head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	title Sample Title
	meta(name="description" content="")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="apple-touch-icon" href="apple-touch-icon.png")

	//- if jquery
	//- if bootstrap
	//- if bw

	if focusPoint
		link(href="css/focuspoint.css" rel="stylesheet")
	if bxSlider
		link(href="css/jquery.bxslider.css" rel="stylesheet")

	link(href="css/main.css" rel="stylesheet")
	// aci scrii tu in css- ul aista 
	link(href="css/stefanicu.css" rel="stylesheet")

	//-script(src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js")
	link(href='https://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css')


	if jquery
		//- script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		//- <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		script(src="js/jquery-1.11.3.min.js")

	if mmenu
		//-link(href="path/to/jquery.mmenu.css" type="text/css" rel="stylesheet")
		//-link(href="path/to/jquery.mmenu.themes.css" type="text/css" rel="stylesheet")
		script(src="js/mmenu/jquery.mmenu.min.all.js" type="text/javascript")