section.section--primary
	.container-fluid.container-fluid--fullwidth
		.row.row--no-gutter.row--hero
			.col-xs-12.col-sm-12.col-md-6.col-lg-7.col-same-height
				.focuspoint.focuspoint--round-left(data-focus-x="0.5" data-focus-y="-0.3" data-image-w="1285" data-image-h="1090")
					img(src="img/image03.jpg" alt="")
			.col-xs-12.col-sm-12.col-md-6.col-lg-5.col-same-height
				.content
					h1 Montaj si service
					p Echipa noastră de specialişti înalt calificaţi răspunde oricând nevoilor şi cerinţelor tale, adaptându-se permanent la noile tendinţe şi tehnologii aplicate în domeniu.
					br
					a.btn.btn-default(href="#") vezi ce spun clientii nostri 
	.container-fluid
		.row
			.container
				.row
					.col-xs-12
						.row.row--content
							.col-sm-12.col-md-7
								ul
									li Cele mai performante tehnologii în domeniul tratării suprafeţelor, conforme     cu normele de siguranţă şi calitate aplicate la nivel european
									li Promovarea exclusivă a celor mai bune şi mai variate materiale, respectiv consumabile, pentru desfăşurarea proceselor de producţie, cu rezultate finale excelente
									li Consiliere şi suport tehnic atât în perioada de planificare şi realizare a lucrărilor, cât şi ulterior, pe parcursul întregii perioade de colaborare
									li Livrare imediată a oricăror consumabile şi piese de schimb
									li Susţinere permanentă prin intermediul personalului tehnic, care vă stă la dispoziţie pentru orice lucrări de mentenanţă şi reparaţii
									li Flexibilitate şi adaptabilitate la nevoile fiecărui client în parte
								
							.col-sm-12.col-md-4.col-md-push-1
								blockquote.home
									| INOVATIA ESTE UN SPORT DE ECHIPA.
									br
									| TONY WAGNER / HARVARD UNIVERSITY INNOVATION LAB
									span.circleQuote "