section.section--primary
	.container-fluid.container-fluid--fullwidth
		.row.row--no-gutter.row--hero
			.col-xs-12.col-sm-12.col-md-6.col-lg-7.col-same-height
				.focuspoint.focuspoint--round-left(data-focus-x="0.5" data-focus-y="-0.3" data-image-w="1285" data-image-h="1090")
					img(src="img/image03.jpg" alt="")
			.col-xs-12.col-sm-12.col-md-6.col-lg-5.col-same-height
				.content
					h1 Montaj si service
					p Suntem impreuna cu tine pe tot parcursul implementării lucrarilor, de la inceput si pana la predarea la cheie. Unul dintre marile avantaje ale parteneriatului cu noi este calitatea service-ului post-vanzare.
					br
					a.btn.btn-default(href="#") vezi ce zic clientii nostri 
	.container-fluid
		.row
			.container
				.row
					.col-xs-12
						.row.row--content
							.col-sm-12.col-md-7
								p Iti promitem:
								ul
									li Cele mai performante tehnologii in domeniul tratarii suprafetelor si procesarii mecanice
									li Promovarea celor mai bune si mai variate materiale si consumabile pentru desfasurarea proceselor de productie
									li Consiliere si suport tehnic atat in perioada de planificare si realizare a lucrarilor, cat si ulterior, pe parcursul intregii colaborari
									li Livrare imediata a consumabilelor si pieselor de schimb
									li Sustinere permanenta, prin intermediul personalului tehnic, care sta la dispozitie pentru orice lucrari de mentenanta si reparatii
									li Flexibilitate si adaptabilitate
								
							.col-sm-12.col-md-4.col-md-push-1
								blockquote.home
									| INOVATIA ESTE UN SPORT DE ECHIPA.
									br
									| TONY WAGNER / HARVARD UNIVERSITY INNOVATION LAB
									span.circleQuote "