section.section--secondary
	.container-fluid.container-fluid--fullwidth
		.row.row--no-gutter.row--hero
			.col-xs-12.col-sm-12.col-md-6.col-lg-5.col-same-height
				.content
					h1.text-center Referinte 
					.row
						.col-xs-12
							.row.icons
								.col-xs-6.col-sm-12
									a(href="")
										img.img-responsive(src="img/icon01_orange.png" alt="")
										p Naval
								.col-xs-6.col-sm-12
									a(href="")
										img.img-responsive(src="img/icon02_orange.png" alt="")
										p Confectii metalice / Constructii masini	
								.col-xs-6.col-sm-12
									a(href="")
										img.img-responsive(src="img/icon01_orange.png" alt="")
										p Constructii civile si industriale
								.col-xs-6.col-sm-12
									a(href="")
										img.img-responsive(src="img/icon02_orange.png" alt="")
										p Material rulant

					//-blockquote
						| Suntem pretutindeni, ne inmultim ca iepurii
						br
						| Nicu Razvan / www.solopx.com
						span.circleQuote "
					//- p De la industria navală la cea a confecţiilor metalice, de la domeniul construcţiilor civile şi industriale la sectorul auto şi al construcţiilor de maşini, toate pot beneficia de experienţa MINEX, de consultanţă şi asistenţă înalt calificate, pentru alegerea celor mai potrivite soluţii de tratare a suprafeţelor.
					//-.btn-group(role="group" aria-label="...")
						button.btn.btn-default(type="button") Proiecte Navale
						button.btn.btn-default(type="button") Proiecte auto
						button.btn.btn-default(type="button") Proiecte industriale
						button.btn.btn-default(type="button") Proiecte Navale
					//-hr
					//-ul.list-group
						li.list-group-item
							a(href="")
								| Proiecte Navale
						li.list-group-item
							a(href="")
								|  Proiecte auto
						li.list-group-item
							a(href="")
								|  Proiecte industriale
						li.list-group-item
							a(href="")
								|  Proiecte Navale
					
			.col-xs-12.col-sm-12.col-md-6.col-lg-7.col-same-height
				.focuspoint.focuspoint--round-right(data-focus-x="-0.2" data-focus-y="0.25" data-image-w="1285" data-image-h="1090")
					img(src="img/image05.jpg" alt="")
		br
	.container
		.row.row--no-gutter
			
			include gridReferinte
			
			.col-xs-12.gridProject
				br
				br
				p.text-center 
					a.btn.btn-primary(href="") vezi si alte proiecte
				br

