section.section--primary#section01
	.container-fluid.container-fluid--fullwidth
		.row.row--no-gutter.row--hero
			.col-xs-12.col-sm-12.col-md-6.col-lg-7.col-same-height
				.focuspoint.focuspoint--round-left(data-focus-x="0.5" data-focus-y="-0.3" data-image-w="1285" data-image-h="1090")
					img(src="img/image01.jpg" alt="")
			.col-xs-12.col-sm-12.col-md-6.col-lg-5.col-same-height
				.content
					h1 Solutii Integrate
					p De la planificare la montaj si service, Minex Group e partenerul tau de incredere:
					.row
						.col-xs-6.text-center
							h2 15
							p ani experienta
						.col-xs-6.text-center
							h2
								//-small peste 
								| 500 <
							p de proiecte
					hr
					p Vezi ce am facut pentru urmatoarele industrii:
					.row.icons
						.col-xs-6.col-sm-3
							a(href="#")
								img.img-responsive(src="img/icon01.png" alt="icons01")
								p Naval
						.col-xs-6.col-sm-3
							a(href="#")
								img.img-responsive(src="img/icon02.png" alt="icons01")
								p Constr. civile si ind.
						.col-xs-6.col-sm-3
							a(href="#")
								img.img-responsive(src="img/icon01.png" alt="icons01")
								p Confectii metalice
						.col-xs-6.col-sm-3
							a(href="#")
								img.img-responsive(src="img/icon02.png" alt="icons01")
								p material rulant
						.col-xs-12
							a.btn.btn-default(href="#") vezi ce tehnologi utilizam
	.container-fluid
		.row
			.container
				.row.row--content
					.col-sm-12.col-md-5
						p
							| Privim procesele în perspectivă. Propunem exclusiv formule care au în vedere reducerea costurilor de producţie în contextul creşterii performanţei şi a gradului de flexibilitate necesar adaptării la situaţiile curente de piaţă.
							br 
							| Minex este mai mult decât un furnizor de echipamente. Indiferent dacă este vorba despre sablare, vopsire sau metalizare, gândim proiecte personalizate, care integrează cele mai performante echipamente necesare implementării lor.
					.col-sm-12.col-md-6.col-md-offset-1
						blockquote.home
							| INOVAREA E MAI MULT DECAT TEHNOLOGIE.
							br
							|“A INOVA” INSEAMNA A OFERI TRECUTULUI O IMAGINE NOUA
							span.circleQuote "