extends layout.jade
block config
	- var jquery 		= true
	- var bootstrap 	= true
	- var focusPoint 	= true
	- var analytics		= true
	- var bw 			= true
	//- 
		- var jquerySticky	= true
		- var smoothScroll	= true
		- var bxSlider 		= true

block content
	body.categ
		include template/nav
		section
			.container-fluid.container-fluid--fullwidth
				.row.row--no-gutter.row--hero
					.focuspoint(data-focus-x="0" data-focus-y="0" data-image-w="1920" data-image-h="580")
						img(src="img/category_hero.jpg" alt="")
			.container
				.row
					.col-xs-12
						h1 Controlul calitatii
					.col-xs-12

					.col-xs-12.col-md-8
						ol.breadcrumb
							li
								a(href="#") Controlul calitatii
							li
								a(href="#") Aeronautica
							li.active Controlul conditiilor climatice
						
						ul.prodGrid
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_01.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_02.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_03.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_04.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_05.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_06.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_01.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_02.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_02.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_01.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_02.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_03.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_01.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_02.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-4
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(src="img/prod_03.jpg" alt=""  width="400" height="400")
									h4 Elcometer 135

						//nav.text-center
						ul.pagination.pagination-lg
							li.disable: a(href="#" aria-label="Previous")
								span(aria-hidden="true") &laquo;
							li.active: a(href="#") 1
							li: a(href="#") 2
							li: a(href="#") 3
							li: a(href="#" aria-label="Next")
								span(aria-hidden="true") &raquo;
						//- p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
					.col-xs-12.col-md-4.sidebar
						.categorii
							h3 Alte categorii
							ul.list-group
								li.list-group-item
									span.badge 14
									a(href="")
										| Controlul conditiilor climatice
								li.list-group-item
									span.badge 2
									a(href="")
										| Controlul gradului de pregatire a suprafetei
								li.list-group-item
									span.badge 14
									a(href="")
										| Detectarea rezistentei la coroziune
								li.list-group-item
									span.badge 4
									a(href="")
										| Aspiratoare mobile pentru echipamente de pregatire a pardoselilor
								li.list-group-item
									span.badge 7
									a(href="")
										| Determinarea pozitiei si orientarii armaturilor in beton
								li.list-group-item
									span.badge 9
									a(href="")
										| Determinarea rezistentei la abraziune
								li.list-group-item
									span.badge 9
									a(href="")
										| Determinarea rezistentei la zgariere si testarea duritatii
								li.list-group-item
									span.badge 1
									a(href="")
										| Instrumente pentru testare nedistructiva
								li.list-group-item
									span.badge 7
									a(href="")
										| Kituri de inspectie
								li.list-group-item
									span.badge 9
									a(href="")
										| Masurarea aderentei acoperisurilor
								li.list-group-item
									span.badge 11
									a(href="")
										| Masurarea grosimii de strat a acoperirilor
								li.list-group-item
									span.badge 16
									a(href="")
										| Masurarea grosimii filmului umed
								li.list-group-item
									span.badge 1
									a(href="")
										| Masurarea luciului si a culorii
								

						.applicatii
							h3 Alte aplicatii
							.row.icons
								.col-xs-6.col-sm-3.col-md-6
									a(href="")
										img.img-responsive(img src="img/icon01.jpg" alt="")
										p Aplicare chituri, masticuri si adezivi
								.col-xs-6.col-sm-3.col-md-6
									a(href="")
										img.img-responsive(img src="img/icon02.jpg" alt="")
										p Aplicare chituri, masticuri si adezivi
								.col-xs-6.col-sm-3.col-md-6
									a(href="")
										img.img-responsive(img src="img/icon03.jpg" alt="")
										p Aplicare chituri, masticuri si adezivi
								.col-xs-6.col-sm-3.col-md-6
									a(href="")
										img.img-responsive(img src="img/icon04.jpg" alt="")
										p Aplicare chituri, masticuri si adezivi
					//- .col-xs-12
						h1 Produse

					//- .col-xs-12
					.row
		include template/footer				
		//section.heroCateg
			.container-fluid
				.row.no-gutter
					.col-xs-12
						.focuspoint(data-focus-x="0" data-focus-y="0" data-image-w="1920" data-image-h="580")
							img(src="img/category_hero.jpg" alt="")
			.container
				.row
					.col-xs-12
						h1 Controlul calitatii
					.col-xs-12

					.col-xs-12.col-md-8
						ol.breadcrumb
							li
								a(href="#") Controlul calitatii
							li
								a(href="#") Aeronautica
							li.active Controlul conditiilor climatice
						
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
					.col-xs-12.col-md-4.sidebar
						h3 Alte aplicatii
						.row.icons
							.col-xs-6.col-sm-3.col-md-6
								a(href="")
									img.img-responsive(img src="img/icon01.jpg" alt="")
							.col-xs-6.col-sm-3.col-md-6
								a(href="")
									img.img-responsive(img src="img/icon02.jpg" alt="")
							.col-xs-6.col-sm-3.col-md-6
								a(href="")
									img.img-responsive(img src="img/icon03.jpg" alt="")
							.col-xs-6.col-sm-3.col-md-6
								a(href="")
									img.img-responsive(img src="img/icon04.jpg" alt="")
					.col-xs-12
						h1 Produse
				.row.no-gutter
					.col-xs-12
						ul.prodGrid
							li.col-xs-6.col-sm-4.col-md-3
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(img src="img/prod_01.jpg" alt=""  width="400" height="400")
									h3 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-3
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(img src="img/prod_02.jpg" alt=""  width="400" height="400")
									h3 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-3
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(img src="img/prod_03.jpg" alt=""  width="400" height="400")
									h3 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-3
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(img src="img/prod_04.jpg" alt=""  width="400" height="400")
									h3 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-3
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(img src="img/prod_05.jpg" alt=""  width="400" height="400")
									h3 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-3
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(img src="img/prod_06.jpg" alt=""  width="400" height="400")
									h3 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-3
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(img src="img/prod_01.jpg" alt=""  width="400" height="400")
									h3 Elcometer 135
							li.col-xs-6.col-sm-4.col-md-3
								a.bwWrapper(href="" alt="title prod")
									img.img-responsive(img src="img/prod_02.jpg" alt=""  width="400" height="400")
									h3 Elcometer 135
				.row
					.col-xs-12
						nav.text-center
							ul.pagination.pagination-lg
								li.disable: a(href="#" aria-label="Previous")
									span(aria-hidden="true") &laquo;
								li.active: a(href="#") 1
								li: a(href="#") 2
								li: a(href="#") 3
								li: a(href="#" aria-label="Next")
									span(aria-hidden="true") &raquo;

