extends layout.jade
block config
	- var jquery 		= true
	- var mmenu 		= true
	- var smoothScroll	= true
	- var focusPoint 	= true
	- var bw 			= true
	- var analytics		= true
	- var bxSlider 		= true
	//-
		- var jquerySticky	= true
		- var bootstrap 	= true

block content
	body.home
		#page
			.header
				a.menu(href="#menu") MENU
				
				a.pull-right(href="#")
					img(src="img/logo.png")
			.pageContent				
				include template/video
				include template/solutiiIntegrate
				include template/consultanta
				include template/montaj
				include template/consultanta
				include template/solutii_complete	
				include template/referinte
				include template/contact
				include template/footer
			include template/nav