extends layout.jade
block config
	- var jquery 		= true
	- var mmenu 		= true
	- var bootstrap 	= true
	- var bxSlider 		= true
	- var jquerySticky	= true
	- var smoothScroll	= true
	- var focusPoint 	= true
	- var bw 			= true
	- var analytics		= true
	//-

block content
	body.home
		#page
			.header
				a(href="#menu") menu
				| Demo

			include template/nav

			.pageContent

				//-include template/nav
				
				include template/video
				include template/solutiiIntegrate
				include template/consultanta
				include template/montaj
				include template/consultanta
				include template/solutii_complete	
				include template/referinte
				include template/contact
				include template/footer

			include template/nav