block config
	- var jquery 		= false
	- var bootstrap 	= false
	- var bxSlider 		= false
	- var focusPoint 	= false
	- var bw 			= false
	- var jquerySticky	= false
	- var analytics		= false

doctype html
html
	block head
		include template/head
	block content
	block footerScript
		include template/footer_script