extends layout.jade

block content
	body.noutati
		include template/nav
		section.heroProd
			.container-fluid
				.row.no-gutter
					.col-xs-12
						.focuspoint(data-focus-x="0" data-focus-y="0" data-image-w="1920" data-image-h="580")
							img(src="img/news_hero.jpg" alt="")
		section.news
			.container
				h1 Noutati
				h3
					| Premiile pietei de constructii EURO-Constructii 2015
					br
					small.data 23.09.2015
				img.img-responsive(img src="img/news.jpg" alt="")
				hr
				p
					| Un numar total de 69 de companii si 11 organizatii institutionale importante din domeniu au fost premiate in cadrul festivitatii de decernare a Premiilor Pietei de Constructii & Instalatii EURO-Constructii 2015 (Trofeul EURO-Constructii si/sau Diploma de Excelenta). Evenimentul s-a aflat la editia a doua si s-a desfasurat la Radisson Blu Hotel Bucuresti, la data de 25 mai 2015. Jurizarea a fost asigurata de catre membrii redactiei revistei Agenda Constructiilor, selectia si clasificarea societatilor reprezentative fiind realizata in functie de notorietate, transparenta, rezultate financiare, investitii, proiecte derulate etc.
				p
					| Au fost evidentiate realizarile firmelor din domeniul constructiilor eficiente energetic (sustenabile), reprezentate prin dezvoltarea de produse noi (cum este cazul furnizorilor), executia de cladiri (antreprenori si firme de executie), dezvoltare (arhitectura, proiectare, consultanta, finantare etc.) si din sectorul organizational (asociatii, patronate, institutii etc.). 
				p
					| Evenimentul - parte integranta a Conferintei EURO-Constructii 2015 (editia a patra) - a reprezentat un prilej optim pentru a recompensa excelenta in afaceri a companiilor ce activeaza in sectorul national de constructii si instalatii, la manifestare participand peste 360 de invitati. 

				p
					| Premiile EURO-Constructii sunt acordate anual, firmele fiind grupate in urmatoarele sectiuni:
				ul
					li DEZVOLTARE & AFACERI 
					li INOVAȚII & TEHNOLOGIE 
					li SUSTENABILITATE & CSR 
					li RELIABLE BRANDS

				p 
					| Cele 80 de trofee au fost acordate pentru promovarea de solutii inovatoare in domeniul constructiilor sustenabile si contributia speciala adusa la dezvoltarea pietei de constructii si instalatii din Romania.

		include template/gridNews.jade

		include template/footer