extends layout.jade

block config
	- var jquery 		= true
	- var bootstrap 	= true
	- var focusPoint 	= true
	- var analytics		= true
	- var bw 			= true
	- var bxSlider 		= true
	- var yamm 			= true
	- var autoHidingNav = true 
	- var lang = true
	//- 
		- var jquerySticky	= true
		- var smoothScroll	= true

block content
	body.prod
		include template/bootstrap_nav
		section
			.container-fluid.container-fluid--fullwidth
				.row.row--no-gutter.row--hero
					.focuspoint(data-focus-x="0" data-focus-y="0" data-image-w="1920" data-image-h="580")
						img(src="img/category_hero.jpg" alt="")
			.container
				.row.no-gutter
					.col-xs-12.col-md-6.description
						h1 Aspirator BDC-1216
						p
							| Aspiratorul compact BDC-1216, poate fi folosit impreuna cu echipamentele manuale si cu masinile pentru sablat, slefuit si scarificat, de dimensiuni mici. 
							br
							| Este echipat cu un recipient pentru praf cu capacitate de 40L, pentru ca activitatea sa se poata desfasura fara intrerupere, pe o perioada de timp indelungata.
					.col-xs-12.col-md-4.col-md-offset-1
						.imgGallery
							ul.bxsliderProd
								li
									img.img-responsive(src="img/prodG_01.jpg")
								li
									img.img-responsive(src="img/prodG_02.jpg")
								li
									img.img-responsive(src="img/prodG_03.jpg")
		section.details
			.container
				.row
					.col-xs-12.col-sm-7
						.tab
							//- Nav tabs
							ul.nav.nav-tabs(role="tablist")
								li(role="presentation")
									a(href="#specificatii" aria-controls="specificatii" role="tab" data-toggle="tab") Specificatii
								li.active(role="presentation")
									a(href="#avantaje" aria-controls="avantaje" role="tab" data-toggle="tab") Avantaje
								li(role="presentation")
									a(href="#accesorii" aria-controls="accesorii" role="tab" data-toggle="tab") Accesorii
								li(role="presentation")
									a(href="#referinte" aria-controls="referinte" role="tab" data-toggle="tab") Referinte

							//- Tab panes
							.tab-content
								#specificatii.tab-pane.active(role="tabpanel")
									h4 Specificatii
									.table-responsive
										table.table.table-striped
											thead
												tr
													th
														p Descriere	
													th
														p
															| INDy/Formula
															br
															| 5:1
													th
														p
															| INDy/Formula
															br
															| 11:1
													th
														p 
															| INDy/Formula
															br
															| HVRP 17:1
													th
														p 
															| INDy/Formula
															br
															| 20:1
											tbody
												tr
													td: p
														strong Necesarul de aer
													td: p 425 lpm la 6.8 bar
													td: p 991 lpm la 6.8 bar
													td: p 2265 lpm la 6.8 bar
													td: p 991 lpm la 6.8 bar
												tr
													td: p
														strong Capacitatea pompei
													td: p 9.5 lpm (2.5 gpm)
													td: p 9.5 lpm (2.5 gpm)
													td: p 15.5 lpm (4.1 gpm)
													td: p 6.0 lpm (1.6 gpm)
												tr
													td: p
														strong Debitul pompei
													td: p 
														| 190 cc/ciclu
														| 5 cicluri= 1 litru
													td: p 
														| 190 cc/ciclu
														| 5 cicluri= 1 litru
													td: p 
														| 310 cc/ciclu
														| 3 cicluri= 1 litru
													td: p 
														| 120 cc/ciclu
														| 8 cicluri= 1 litru
									p
										strong Pompa 5:1 
										| – pentru aplicarii la presiune scazuta; furnizeaza pana la 34 bar (3.4 Mpa, 500 psi); furnizeaza pana la 9.5 lpm (2.5 gpm) - optional
									p 
										strong Pompa HVRP 17:1 
										| – pentru aplicari ce utilizeaza un volum mare de rasina; furnizeaza  pana la 117 bar (11.7 Mpa, 1700 psi); furnizeaza pana la 15.5 lpm (4.1 gpm) - optional
									p 
										strong Pompa VOC 20:1 
										| – pentru aplicarea de materiale cu vascozitate ridicata; furnizeaza pana la 138 bar (13.8 Mpa, 2000 psi); furnizeaza pana la 6.0 lpm (1.6 gpm) - optional


								
								#avantaje.tab-pane(role="tabpanel")
									h4 Avantajele utilizarii acestor produse
									ul
										li: p Aspirator industrial usor, fabricat din poliester dur;
										li: p Usor de transportat, rezistent si usor de curatat;
										li: p Echipat cu un filtru stea clasa M, suprafata de filtrare de 8600 cm2, ideal pentru filtrarea prafului fin;
										li: p Optional: filtru / kit HEPA (filtrare particule periculoase sanatatii);
										li: p Poate fi folosit atat in interior cat si in exterior;
										li: p Mentine curatenia la locul de munca;
										li: p Echipament pentru utilizare in conditii grele de lucru, proiectat sa functioneze continuu.
										li: p Echipat cu un filtru stea clasa M, suprafata de filtrare de 8600 cm2, ideal pentru filtrarea prafului fin;
										li: p Usor de transportat, rezistent si usor de curatat;
										li: p Aspirator industrial usor, fabricat din poliester dur;
										
										
								#accesorii.tab-pane(role="tabpanel")
									h4 Accesorii
								#referinte.tab-pane(role="tabpanel")
									h4 Referinte
						p.text-center Vrei sa vorbesti cu specialistii nostri?
						#accordion.panel-group(role='tablist', aria-multiselectable='true')
							.panel.panel-default
								#headingOne.panel-heading(role='tab')
									h4.panel-title
										a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
											| Contacteaza-ne telefonic
								#collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
									.panel-body
										p daca vrei ne poti contacta la numarul:
										h3 348.555.07.61
										p oficiile noastre sunt deschise de lunhi pina vineri: 9.00 - 18.00
							.panel.panel-default
								#headingTwo.panel-heading(role='tab')
									h4.panel-title
										a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
											| Contact form
								#collapseTwo.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingTwo')
									.panel-body
										form
											.row
												.col-xs-12.col-sm-6
													.form-group
														label(for="fullName") Nume complet
														input.form-control(type="text" id="fullName" placeholder="Nume complet")
												.col-xs-12.col-sm-6
													.form-group
														label(for="companie") Companie
														input.form-control(type="text" id="companie" placeholder="Companie")
												.col-xs-12.col-sm-6
													.form-group
														label(for="Telefon") Telefon
														input.form-control(type="text" id="telefon" placeholder="Telefon")
												.col-xs-12.col-sm-6
													.form-group
														label(for="exampleInputEmail1") Email address
														input.form-control(type="email" id="exampleInputEmail1" placeholder="Email")
												.col-xs-12.col-sm-6
													.form-group
														.radio
															label
																input(type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked)
																| Romania
												.col-xs-12.col-sm-6
													.form-group
														.radio
															label
																input(type="radio" name="optionsRadios" id="optionsRadios1" value="option1")
																| Strainatate
												.col-xs-12.col-sm-6
													.form-group
														label(for="judet") Judet
														select.form-control(name="" id="judet" onchange="regionCB.PerformCallback();")
															option(value="1") Alba
															option(value="2") Arad
															option(value="3") Arges
															option(value="4") Bacau
															option(value="5") Bihor
															option(value="6") Bistrita-Nasaud
															option(value="7") Botosani
															option(value="8") Braila
															option(value="9") Brasov
															option(value="10") Bucuresti
															option(value="11") Buzau
															option(value="12") Calarasi
															option(value="13") Caras-Severin
															option(value="14") Cluj
															option(value="15") Constanta
															option(value="16") Covasna
															option(value="17") Dambovita
															option(value="18") Dolj
															option(value="19") Galati
															option(value="20") Giurgiu
															option(value="21") Gorj
															option(value="22") Harghita
															option(value="23") Hunedoara
															option(value="24") Ialomita
															option(value="25") Iasi
															option(value="26") Ilfov
															option(value="27") Maramures
															option(value="28") Mehedinti
															option(value="29") Mures
															option(value="30") Neamt
															option(value="31") Olt
															option(value="32") Prahova
															option(value="33") Salaj
															option(value="34") Satu Mare
															option(value="35") Sibiu
															option(value="36") Suceava
															option(value="37") Teleorman
															option(value="38") Timis
															option(value="39") Tulcea
															option(value="40") Valcea
															option(value="41") Vaslui
															option(value="42") Vrancea
												.col-xs-12.col-sm-6
													.form-group
														label(for="localitate") Localitate
														input.form-control(type="text" id="localitate" placeholder="localitate")
												.col-xs-12.col-sm-12
													.form-group
														textarea.form-control(rows="3" placeholder="Detalii")
													button.btn.btn-primary(type="submit") Trimite formularul
					.col-xs-12.col-sm-5
						p continutul tau
					.col-xs-12
						


		sections.similar
			.container
				.row
					.col-xs-12
						h4 Produse similare
					.col-xs-12
						ul.bx-simlar
							li: a(href="prod.html")
								img(src="img/prod_01.jpg")
							li: a(href="prod.html")
								img(src="img/prod_02.jpg")
							li: a(href="prod.html")
								img(src="img/prod_03.jpg")
							li: a(href="prod.html")
								img(src="img/prod_04.jpg")
							li: a(href="prod.html")
								img(src="img/prod_05.jpg")
							li: a(href="prod.html")
								img(src="img/prod_06.jpg")
							li: a(href="prod.html")
								img(src="img/prod_01.jpg")
							li: a(href="prod.html")
								img(src="img/prod_02.jpg")
				.row
					.col-xs-12
						h4 Alte aplicatii pentru industrie
					.col-xs-12
						.row.icons
							.col-xs-6.col-sm-3.col-md-2.col-lg-1
								a(href="")
									img.img-responsive(src="img/icon01.jpg" alt="")
							.col-xs-6.col-sm-3.col-md-2.col-lg-1
								a(href="")
									img.img-responsive(src="img/icon02.jpg" alt="")
							.col-xs-6.col-sm-3.col-md-2.col-lg-1
								a(href="")
									img.img-responsive(src="img/icon03.jpg" alt="")
							.col-xs-6.col-sm-3.col-md-2.col-lg-1
								a(href="")
									img.img-responsive(src="img/icon04.jpg" alt="")		