extends layout.jade
block config
	- var jquery 		= true
	- var bootstrap 	= true
	- var focusPoint 	= true
	- var analytics		= true
	- var bw 			= true
	//- 
		- var jquerySticky	= true
		- var smoothScroll	= true
		- var bxSlider 		= true

block content
	body.referinte
		include template/nav
		section
			.container-fluid.container-fluid--fullwidth
				.row.row--no-gutter.row--hero
					.focuspoint(data-focus-x="0" data-focus-y="0" data-image-w="1920" data-image-h="580")
						img(src="img/testimoniale_hero.jpg" alt="")

		section.content
			.container
				.row
					.col-xs-12.col-md-8
						h1 Referinte
						ul.list-group
							li.list-group-item
								//- span.badge 14
								a(href="")
									| Controlul conditiilor climatice
							li.list-group-item
								//- span.badge 2
								a(href="")
									| Controlul gradului de pregatire a suprafetei
							li.list-group-item
								//- span.badge 14
								a(href="")
									| Detectarea rezistentei la coroziune
							li.list-group-item
								//- span.badge 4
								a(href="")
									| Aspiratoare mobile pentru echipamente de pregatire a pardoselilor
					.col-xs-12
						include template/gridReferinte

		//-include template/gridNews
		include template/footer