.header
	//background: rgba( 0, 0, 0, 0.5)
	font-size: 16px
	font-weight: bold
	color: #fff
	line-height: 40px
	width: 100%
	height: 80px
	padding: 0 50px
	position: absolute
	z-index: 8
	a.logoBrand
		padding: 10px

.header.fixed
	position: absolute
	top: 0
	left: 0

.header a.menu
	//background: center center no-repeat transparent
	// background-image: url("../img/bx_loader.gif")
	display: block
	//width: 120px
	height: 80px
	line-height: 80px
	position: absolute
	top: 20px
	left: 20px
	svg
		width: 160px
		height: 60px
		background: $brand-primary
		padding: 20px
.pageContent
	padding: 0

.mm-panels
	.lang
		display: block
		width: 15%
		float: left
		//text-align: center
		font-weight: 800
		margin-top: 1em

.mm-listview > li.lang:after
	border-bottom-width: 0px

nav#menu
	form
		padding: 20px		
