.yamm
	.dropdown-menu
			border: 0px
			border-radius: 0
			box-shadow: 0 0px 0px white
			background-clip: padding-box

.navbar
	margin-bottom: 0
	background: $brand-primary

.navbar-default .navbar-nav > li > a
		color: white

.navbar-default
	border: 0
	border-radius: 0

.yamm-content
	ul
		li
			list-style: none
			a
				display: block
				padding: .5em 0