// footer
#footer
	background: rgba(0, 0, 0, 0.2)
	.col-xs-8
		position: relative
		height: 80px

	.text-right
		position: absolute
		top: 50%
		transform: translate(0, -50%)
		padding-right: 1em
		right: 0

